<div class="related-list" id="my-specific-selector">
  <style type="text/css">
#my-specific-selector {
  /**/
  --color-black : blue;
  font-size: var(--font-scale2-size9-wide);
  
}
  </style>
  This is the related list
</div>