<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body class="container">
    <main class="component-area">
      <%- renderComponent(context.componentName) %>
    </main>

    <style type="text/css">
      <%= renderDesignTokens() %>
      <%= renderStylesheets() %>
    </style>
  </body>
</html>